# Configurações do Servidor
PORT=3000
WS_PORT=3001

# Autenticação do Instagram (Pegar no F12 > Application > Cookies)
# O sessionid é o cookie mais importante para contornar o login
INSTA_SESSIONID=seu_sessionid_aqui
INSTA_DS_USER_ID=seu_user_id_numérico_aqui
INSTA_CSRFTOKEN=seu_csrftoken_aqui